# The Things Network / The Things Stack Cloud
TTN_MQTT_HOST=nam1.cloud.thethings.network
TTN_MQTT_PORT=8883
TTN_MQTT_USERNAME=mi-aplicacion@ttn
TTN_MQTT_PASSWORD=NNSXS.REEMPLAZAR_CON_API_KEY

# Bridge local
BRIDGE_DATABASE=./data/smartcitynet.db
BRIDGE_HTTP_HOST=127.0.0.1
BRIDGE_HTTP_PORT=8081
LOG_LEVEL=INFO
